<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="containerFormSubmittedMessage">
      <h1><%= title %></h1>

      <p></p>
    </div>
  </body>
</html>
