<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,
        initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      function validate() {
        var fname = $("#fname").val();
        var lname = $("#lname").val();
        // var age =$("#age").val();
        // var city = $("#city").val();
        // var phone_no = $("#phone_no").val();
        // var email =$("#email").val();
        // var password = $("#password").val();
        // console.log("condtin",fname.length == "");
        if (fname.length == "") {
          $("#first_name_check").show();
          // fname.focus();
          // return false;
        } else {
          $("#first_name_check").hide();
        }
        if (lname.length == "") {
          $("#last_name_check").show();
          // lname.focus();
          // return false;
        } else {
          $("#last_name_check").hide();
        }
        // if (age.value.le) {
        //   alert("Age is required");
        //   address.focus();
        //   return false;
        // }
        // if (age == "select age") {
        //   $("#Age_check").show();
        //   // age.focus();
        //   // return false;
        // } else {
        //   $("#Age_check").hide();
        // }
        // //city
        // if (city.length == "") {
        //   $("#City_check").show();
        //   // city.focus();
        //   // return false;
        // } else {
        //   $("#City_check").hide();
        // }
        // if (phone_no.length <= 0) {
        //   $("#phone_no_check").show();
        //   // phone_no.focus();
        //   // return false;
        // } else {
        //   $("#phone_no_check").hide();
        // }
        // let regex = /^([_\-\.0-9a-zA-Z]+)@([_\-\.0-9a-zA-Z]+)\.([a-zA-Z]){2,7}$/;
        // let s = email.value;
        // if (email == "") {
        //   $("#email_check").show();
        //   // email.focus();
        //   // return false;
        // }else if(regex.test(s))
        // {
        //   $("#email_check").show();

        // }else{
        //   $("#email_check").hide();
        // }
        // // const email = document.getElementById("email");
        // // email.addEventListener("blur", () => {
        // //   let regex =
        // //     /^([_\-\.0-9a-zA-Z]+)@([_\-\.0-9a-zA-Z]+)\.([a-zA-Z]){2,7}$/;
        // //   let s = email.value;
        // //   if (regex.test(s)) {
        // //     email.classList.remove("is-invalid");
        // //     $("#email_check").show();
        // //   } else  {
        // //     email.classList.add("is-invalid");
        // //     $("#email_check").show();
        // //   }
        // // });

        // if (password.length == "") {
        //   $("#password_check").show();
        // } else if (password.length < 5 || password.length > 10) {
        //   $("#password_check").show();
        // } else {
        //   $("#password_check").hide();
        // }

        return false;
      }
    </script>
    <!-- <script type="text/javascript" src="/js/validate.js"></script> -->
  </head>

  <body>
    <div class="container mt-3">
      <br />
      <h1>Register Form</h1>
      <br />
      <!-- <% if(typeof alert != 'undefined') { %> <% alert.forEach(function(error) {
      %> -->
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <!-- <%= error.msg %> -->
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!-- <% }) %> <% } %> -->
      <br />
      <form action="/formFillUp" method="post" name="Register">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputFName" style="font-size: 23px"> First Name</label>
            <input
              type="text"
              class="form-control"
              id="fname"
              name="first_name"
            />
            <!-- <h5 id="first_name_check" style="color: red">first_name is missing</h5> -->
            <small
              id="first_name_check"
              name="first_name_check"
              class="form-text text-muted invalid-feedback"
              value="first_name is missing"
            >
              first_name is missing
            </small>
          </div>

          <div class="form-group col-md-6">
            <label for="inputLname" style="font-size: 23px"> Last Name </label>
            <input
              type="text"
              class="form-control"
              id="lname"
              name="last_name"
            />
            <!-- <h5 id="last_name_check" style="color: red">last_name is missing</h5> -->
            <small
              id="last_name_check"
              name="last_name_check"
              class="form-text text-muted invalid-feedback"
            >
              last_name is missing
            </small>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputAge" style="font-size: 23px"> Age</label>
            <select
              name="age"
              id="age"
              class="form-group form-control col-md-12"
            >
              <option value="select age">select age</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
            </select>
            <small
              id="Age_check"
              name="Age_check"
              class="form-text text-muted invalid-feedback"
            >
              Please Select Age
            </small>
          </div>

          <div class="form-group col-md-6">
            <label for="inputCity" style="font-size: 23px">City </label>
            <input type="text" class="form-control" id="city" name="city" />
            <small
              id="City_check"
              class="form-text text-muted invalid-feedback"
            >
              Please Add City
            </small>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputphone" style="font-size: 23px">Phone_no</label>
            <input
              type="text"
              class="form-control"
              id="phone_no"
              name="phone_no"
            />
            <small
              id="phone_no_check"
              class="form-text text-muted invalid-feedback"
            >
              Please enter validate Number
            </small>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail" style="font-size: 23px"> Email</label>
            <input type="email" class="form-control" id="email" name="email" />
            <small
              id="email_check"
              name="email"
              class="form-text text-muted invalid-feedback"
            >
              Your email must be a valid email
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress" style="font-size: 23px">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
          />
          <small
            id="password_check"
            name="password_check"
            class="form-text text-muted invalid-feedback"
          >
            **Please Fill the password
          </small>
        </div>
        <button
          type="submit"
          id="submitbtn"
          value="Submit"
          class="btn btn-primary"
          onclick="validate()"
        >
          Submit
        </button>
      </form>
    </div>
  </body>
</html>
